/* CSS declarations go here */
#main-text {
	display: block;
	white-space: pre;

	margin: auto;
	margin-top: 10px;

	width: 95%;

	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	outline: none;
}

#rate-button {
	display: block;

	margin: auto;
	margin-top: 10px;
}

.word:hover {
	background: black;
	color: white;
}

/* Fluff Classes */
.fluff-0 { color: black; }
.fluff-1 { color: yellow; }
.fluff-2 { color: orange; }
.fluff-3 { color: red; }