/* CSS declarations go here */
#main-text {
	display: block;
	white-space: pre;

	margin: auto;
	margin-top: 10px;

	width: 95%;

	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	outline: none;
}

#rate-button {
	display: block;

	margin: auto;
	margin-top: 10px;
}

.word:hover {
	background: black;
	color: white;
}

.non-fluffy {
	color: black;
}

.fluffy {
	color: red;
}